<!--criando a navbar do site-->
<nav class="navbar navbar-light bg-dark"> <!--"navbar-light para definir a cor do conteúdo e "bg-dark" para definir a cor de fundo.-->
    <a class="navbar-brand" href="/">
        <img src="/img/guia.png" alt="">
      </a>
</nav>