  <%- include ('partials/header.ejs') %>
  <body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container"> <!--Esta div contém todo o formulário.-->

        <div class="card" id="formulario-pergunta"> <!-- Card contendo o formulário e os inputs -->
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/dadosformulario"> <!--Criando o método POST para receber os dados preenchidos no formulário e enviando-os ao servidor por uma rota POST.-->
                    <label>Título</label>
                    <!--A Classe "form-control" pertence ao bootstrap e serve para estilizar formulários.-->
                    <input type="text" placeholder="Título" class="form-control" name="title"/> <!--É importante ter o parâmetro "name=" para utilizarmos no backend.-->
                    <br>
                    <label>Descrição</label>
                    <textarea placeholder="Faça a sua pergunta aqui"class="form-control" name="description"></textarea>
                    <br>
                    <button class="btn btn-primary">Enviar</button> <!--class "btn" do Bootstrap para personalizar botões. ex.: "class= btn btn-success "-->
                  </form>
            </div>
            
        </div>
      
    </div>
  </body>
  <%- include ('partials/footer.ejs') %>

